name: Internal - Checks for nodejs

on:
  workflow_call:

permissions:
  contents: read
  security-events: write
  id-token: write

jobs:
  test-nodejs:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@ce2bb8274a37c1219be2bcae2a1b2528c2c72957 # 0.19.0
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      security-events: write
    with:
      test: |
        {"coverage":"codecov"}
