name: Internal - Checks for nodejs

on:
  workflow_call:

permissions:
  contents: read
  security-events: write
  id-token: write

jobs:
  test-nodejs:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@23af54bc615d657aa9c13c472ae701445c1811a6 # 0.17.1
    permissions:
      id-token: write
      security-events: write
      contents: read
    with:
      build: ""
